@using Microsoft.AspNetCore.Http

@{
    string url = Context.Request.Path;
    
    string shopName = "Jesse's Homemade Cakes";
    string? titleData = (string?)ViewData["Title"];
    string pageTitle;
    if (!String.IsNullOrWhiteSpace(titleData)) {
        pageTitle = $"{titleData} - {shopName}";
    }
    else {
        pageTitle = shopName;
    }
    
    // OpenGraph Protocol values
    // Todo: Fill these in based on the primary image of a page.
    string ogImagePath = "";
    string ogMimeType = "";
    string ogImageAltText = "";
}

<!DOCTYPE html>

<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        <!-- Todo: research favicons, implement responsive dpi versions -->
        <!-- Todo: improve icon design -->
        <link rel="icon" type="image/x-icon" href="~/assets/images/favicon.ico">
        <link rel="stylesheet" type="text/css" href="~/css/base-overrides.css" asp-append-version="true">
        <link rel="stylesheet" type="text/css" href="~/css/utilities.css" asp-append-version="true">
        <link rel="stylesheet" type="text/css" href="~/css/base-components.css" asp-append-version="true">
        <!-- Load page-specific components after base, as some index components
         override base rules. -->
        <!-- Page-specific stylesheets -->
        @RenderSection("Stylesheets", required: false)
        
        
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap" rel="stylesheet">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
        
        
        <!-- Open Graph Protocol for rich Social Media embeds -->
        <meta property="og:title" content="@pageTitle" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="@url" />
        
        <meta property="og:image" content="@ogImagePath" />
        <meta property="og:image:type" content="@ogMimeType" />
        <meta property="og:image:width" content="400" />
        <meta property="og:image:height" content="400" />
        <meta property="og:image:alt" content="@ogImageAltText" />
        
        <title>@pageTitle</title>
    </head>
    <body>
        <div class="flexible-layout">
            <header>
                <nav>
                    <ul class="navbar">
                        <!--  todo: hire an artist to make a company logo -->
                        <li class="navbar__item hidden">
                            <p>
                                <a asp-controller="Home" asp-action="Index" class="navbar__link">
                                    <img class="logo" src="" alt="A light pink colored illustration of two macaroons with the text Jesse's Homemade Cakes above them."/>
                                </a>
                            </p>
                        </li>
                        <li class="navbar__item">
                            <p>
                                <a  class="navbar__link" asp-controller="Home" asp-action="Index">
                                    Home
                                </a>
                            </p>
                        </li>
                        <li class="navbar__item">
                            <p>
                                <a  class="navbar__link" asp-controller="Menu" asp-action="Menu">
                                    Menu
                                </a>
                            </p>
                        </li>
                        <li class="navbar__item">
                            <p>
                                <!-- Todo: create controller for order -->
                                <a class="navbar__link" asp-controller="ContactUs" asp-action="ContactUs" >
                                    Contact Us
                                </a>
                            </p>
                        </li>
                        <li class="navbar__item"> 
                            <p>
                                <a class="navbar__link" asp-controller="AboutUs" asp-action="AboutUs">
                                    About
                                </a>
                            </p>
                        </li>
                    </ul>
                </nav>
            </header>
            
            <main class="flex align-center">
                @RenderBody()
            </main>
            
            <footer>
				<!--
				To be present in the final pages. Need to work out the CSS for it
				<p>
                	Made by Jesse & Zowie
            	</p>
				-->
            </footer>
        </div>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
<partial name="_ValidationScriptsPartial" />
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>