@{
    ViewData["url"] = Context.Request.Path;
    // Fallback title
    ViewData["Title"] = "default title";
    
    ViewData["ogImagePath"] = "~/assets/images/cupcakes-stock-photo.jpg";
    ViewData["ogMimeType"] = "image/jpg";
    ViewData["ogImageAltText"] = "A cake";
}

@* Define an optional ViewData title to replace the one above. *@
@* Used for the page <title> *@
@RenderSection("TitleData", required: false);

@* Define optional ViewData to replace Open Graph Protocol values above. *@
@* Used for the meta OG tags *@
@RenderSection("openGraphData", required: false);

@functions {
    public string GenerateTitle(string pageTitle) {
        string shopName = "Jesse's Homemade Cakes";
        if (!String.IsNullOrWhiteSpace(pageTitle)) {
            return $"{pageTitle} - {shopName}";
        }
        
        return shopName;
    }
}

<!DOCTYPE html>

<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        <!-- Todo: research favicons, implement responsive dpi versions -->
        <!-- Todo: improve icon design -->
        <link rel="icon" type="image/x-icon" href="~/assets/images/favicon.ico">
        <link rel="stylesheet" type="text/css" href="~/css/base-overrides.css" asp-append-version="true">
        <link rel="stylesheet" type="text/css" href="~/css/utilities.css" asp-append-version="true">
        <link rel="stylesheet" type="text/css" href="~/css/base-components.css" asp-append-version="true">
        <!-- Load page-specific components after base, as some index components
        override base rules. -->
        
        <!-- Page-specific stylesheets -->
        @RenderSection("Stylesheets", required: false)
        
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap" rel="stylesheet">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
        
        
        <!-- Open Graph Protocol for rich Social Media embeds -->
        <meta property="og:title" content="@GenerateTitle((string)ViewData["Title"])" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="@ViewData["url"]" />
        
        <meta property="og:image" content="@ViewData["ogImagePath"]" />
        <meta property="og:image:type" content="@ViewData["ogMimeType"]" />
        <meta property="og:image:width" content="400" />
        <meta property="og:image:height" content="400" />
        <meta property="og:image:alt" content="@ViewData["ogImageAltText"]" />
        
        <title>
            @GenerateTitle((string)ViewData["Title"])
        </title>
    </head>
    <body>
        <div class="flexible-layout">
            <header>
                <nav>
                    <ul class="navbar">
                        <!--  todo: hire an artist to make a company logo -->
                        <li class="navbar__item hidden">
                            <p>
                                <a asp-controller="Home" asp-action="Index" class="navbar__link">
                                    <img class="logo" src="" alt="A light pink colored illustration of two macaroons with the text Jesse's Homemade Cakes above them."/>
                                </a>
                            </p>
                        </li>
                        <li class="navbar__item">
                            <p>
                                <a  class="navbar__link" asp-controller="Home" asp-action="Index">
                                    Home
                                </a>
                            </p>
                        </li>
                        <li class="navbar__item">
                            <p>
                                <a  class="navbar__link" asp-controller="Menu" asp-action="Menu">
                                    Menu
                                </a>
                            </p>
                        </li>
                        <li class="navbar__item">
                            <p>
                                <!-- Todo: create controller for order -->
                                <a class="navbar__link" asp-controller="ContactUs" asp-action="ContactUs" >
                                    Contact Us
                                </a>
                            </p>
                        </li>
                        <li class="navbar__item"> 
                            <p>
                                <a class="navbar__link" asp-controller="AboutUs" asp-action="AboutUs">
                                    About
                                </a>
                            </p>
                        </li>
                    </ul>
                </nav>
            </header>
            <main class="flex align-center">
                @RenderBody()
            </main>
            <footer>
                <p>
                    Made by
                    <a target="_blank" href="https://github.com/applesea2">Jesse</a>
                    &
                    <a target="_blank" href="https://1zzowiebeha.github.io/">Zowie</a>
                </p>
            </footer>
        </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
        <partial name="_ValidationScriptsPartial" />
    
        <!-- Only add scripts if we need them for a page. -->
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>